img.globe {
    /* Set up proportionate scaling */
    width: 100%;
    height: 130%;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

#worldCountryQuestion {
    color: #ffffff;
    text-align: center;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 40px;
}

img.flagTest {
    /* Set up proportionate scaling */
    width: 16.5%;
    height: auto;
      
    /* Set up positioning */
    align-self: center;
    position: relative; 
    padding-left: 635px;
    padding-right: 635px;
    margin-top: 5px;
    margin-bottom: 20px;
    /* top: 500px; */
    /* left: 1000px; */
}

.main {
    position: relative;
    width: 1520px;
}

/* .flag {
    position: absolute;
    width: 1520px;
    size: 400px;
} */

#worldFlagsText {
    color: #ffffff;
    text-align: center;
    text-shadow: -2px -2px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    margin-top: 100px;
}

#cName {
    margin-left: 675px;
    margin-top: 50px;
    size-adjust: 500px;
}

#button{
    position: relative;
    text-align: center;
    margin-top: 10px;
    width: 90px;
    height: 30px;
}

#text-input {
    width: 350px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.buttonBounds {
    position: relative;
    text-align: center;
}

.textBox {
    position: relative;
    text-align: center;
}


@media screen and (max-width: 2400px){
    h1{
        font-size: 80px;
    }
}

@media screen and (max-width: 1200px){
    h1{
        font-size: 80px;
    }
    #worldFlagsText{
        margin-right: 500px;
    }
}

@media screen and (max-width: 850px){
    h1{
        font-size: 80px;
    }
    #worldFlagsText{
        margin-right: 800px;
    }
}

@media screen and (max-width: 700px){
    h1{
        font-size: 80px;
    }
    #worldFlagsText{
        margin-right: 1000px;
    }
}

@media screen and (max-width: 500px){
    h1{
        font-size: 40px;
    }
    #worldFlagsText{
        padding-left: -500px;
        margin-right: 1200px;
    }
}

@media screen and (max-width: 300px){
    h1{
        font-size: 40px;
    }
    #worldFlagsText{
        /* padding-left: -500px; */
        margin-right: 1300px;
    }
}

@media screen and (max-width: 200px){
    h1{
        font-size: 40px;
    }
    #worldFlagsText{
        /* padding-left: -500px; */
        margin-right: 1400px;
    }
}